[user]
	name = Michael Jemmeson
	email = mjemmeson@cpan.org
[url "https://"]
	insteadOf = git://
[color]
	diff = auto
	ui = true
[alias]
	ci = commit
	co = checkout
	st = status
	di = diff
	br = branch
	mrg = merge
[ph]
	user = mjemmeson
	token = <TOKEN>
